.field-container {
    border-radius: 20px;
    background-color: white;
}

.button {
    font-size: 20px;
    color: rgb(0,0,0,0.7);
    font-weight: 700;
    margin-left: 20px;
    margin-top: 13px;
} 

.button:hover {
    background-color: rgb(0,0,0,0.15);
} 