* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
}

.modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    width: 60%;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    z-index: 101;
    padding: 40px;
    ;
}
.modal-inside {
    display: flex;
    flex-direction: column;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;;
}
.img-profile {
    padding: 1px;;
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.frist-and-last-name-and-username-wrapper {
    display: flex;
    flex-direction: column;
}

.frist-and-last-name {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}
.username {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.img-in-modal {

    max-height: 80%;
    max-width: 80%;

}