* {
  box-sizing: border-box;
}

body {
  
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
.top-of-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1604917538193-34a3111252f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  min-height: 100vh;
  width: 100vw;
  border: 1px solid red;
}
.logo-and-searchbar-container {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  margin-bottom: 25vh;
  width: 60vw;
  border: 1px solid red;

}
.search-bar-with-button-container {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;

}

.logo-unsplash-h1 {
  margin: 10px;
  color: white;
}
.search-bar:hover {
  background-color: rgba(214, 214, 214, 0.45);
  box-shadow: 10px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.search-bar {
  width: 100%;
  height: 56px;
  margin: 10px 10px 0px 10px;
  position: relative;
  padding: 16px;
  border: 1px solid #979797;
  border-radius: 4px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
  
}
.searchButton {
  height: 56px;
  margin: 10px 10px 0px 10px;

}

.toogleAutocomplete {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  margin-left: 90px;
  margin-right: 10px;
  background-color: white;
}

.show-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -20vh;
  
}
.show-images-container>* {
  flex: 0 0 45.33%;
}

.one-result-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1;
}



